<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is app1 html </h1>
        <h4>Navigating links</h4>
        <h6><a href="{% url 'application2:app2' %}">Travel to app2 home</a></h6>
        <h6><a href="{% url 'app2' %}">Travel app_string</a></h6>
    </center>
</body>
</html>